node_modules/
worker/
.cargo-ok
package-lock.json
.git
.vscode
.serverless
.webpack
.idea
coverage
*.tgz
.env
test/
src/*.js
dist/
.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
outfrontend/
